<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Farah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E88AD93C1D9245C5002672D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88AD9531D9245C5002672D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88AD95E1D9245C5002672D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
